# 默认忽略的文件
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.TestWY.iml
/projectSettingsUpdater.xml
# 数据源本地存储已忽略文件
/../../../../../../../:\Github_Res\URP-CSM\TestWY\.idea\.idea.TestWY\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
